/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap'); */
li,
a,
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #de7021;
    text-decoration: none;
}

header {
    /* display: flex; */
    /* justify-content:space-between; */
    /* align-items: center; */
    padding: 30px 10%;
    border: 1px solid #e0e0e0;
}

.logo {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 2px solid #de7021;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e0e0e0;
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(182, 231, 243);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(38, 199, 239);

}